/* Modo oscuro */
body {
    background-color: #1E1E2E;
    color: #D9E0EE;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #302D41;
    border-bottom: 1px solid #44475A;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

.stats table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #2B2D42;
    border: 1px solid #44475A;
}

.stats th, .stats td {
    padding: 10px;
    text-align: center;
    border: 1px solid #44475A;
}

.stats th {
    background-color: #44475A;
    color: #F8F8F2;
}

.stats td {
    color: #ECEFF4;
}

.btn {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.btn.decrement {
    background-color: #E63946;
}

.btn.increment {
    background-color: #4CAF50;
}

.charts canvas {
    max-width: 600px;
    margin: 20px auto;
    display: block;
}

